@model NewsModelDTO
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - News</title>
</head>

<body>

    <div class="container castom">

        <ul class="media-list">
            <!-- Первый медиа-объект -->
            <li class="media">

                <div class="media-body">
                    <a href=@Model.NewsURL
                       title="??">
                        <h4 class="media-heading">@Model.Heading</h4>
                    </a>
                </div>

                <div class="media-left">
                    <img src="@Model.Img" alt="Фото из архива" title="Фото из архива">
                </div>

                <div id="current_date_time_block" class="time">
                    @Model.DateTime
                </div>

                <div class="media-body">
                    <span class="lenta_textsmall">
                        @Model.Content
                    </span>
                </div>

                <div class="media-body">
                    <h6>
                        <span class="lenta_textsmall">
                            Коэффициент позитивности - @Model.CoefficientPositive
                        </span>
                    </h6>
                </div>

                <a class="btn btn-large btn-info" asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">Подробнее</a>
            </li>
        </ul>
        

    </div>
</body>

</html>
