@model ViewModelForDetailsNews


<div>
    <div class="container castom">
        <ul class="media-list">
            <!-- Первый медиа-объект -->
            <li class="media">

                <div class="media-body">
                    <a href=@Model.NewsURL
                       title="??">
                        <h4 class="media-heading">@Model.Heading</h4>
                    </a>
                </div>

                <div class="media-left">
                    <img src="@Model.Img" alt="Фото из архива" title="Фото из архива">
                </div>

                <div id="current_date_time_block" class="time">
                    @Model.DateTime
                </div>

                <div class="media-body">
                    <span class="lenta_textsmall">
                        @Model.Content
                    </span>
                </div>

                <div>
                    <p>
                        <button id="GetComments" onclick="" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Все коментарии
                        </button>
                    </p>

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            @{

                                if (Model.Comments.Count() != 0)
                                {
                                    foreach (var comment in Model.Comments)
                                    {

                                        @await Html.PartialAsync("Comment", comment);
                                    }

                                }
                                else
                                {
                                    <p>Нет соментариев</p>
                                }

                            }
                        </div>
                        <form asp-action="AddComment" asp-controller="News" asp-antiforgery="true" method="post">
                            <p><b>Введите ваш отзыв:</b></p>
                            <p><textarea rows="10" cols="45" asp-for="@Model.CommentText"></textarea></p>
                            <input type="hidden" asp-for="@Model.NewsId" value="@Model.Id" />
                            <p><input type="submit" value="Отправить"></p>
                        </form>
                       
                    </div>
                </div>

            </li>
        </ul>

    </div>
</div>